---
import BaseLayout from "../layouts/BaseLayout.astro";
import DestinationContainer from "../components/DestinationContainer.astro"

const allPosts = await Astro.glob('./posts/destination/*.md'); 
---
<BaseLayout>
	{
	allPosts.map((post) =>
	<div class="flex">
	<DestinationContainer
		planet={post.frontmatter.planet}
		text={post.frontmatter.description}
		destText={post.frontmatter.distanceText}
		destNum={post.frontmatter.distanceNum}
		timeText={post.frontmatter.timeText}
		timeNum={post.frontmatter.timeNum}
		/>
	</div>
	)
	}
	
</BaseLayout>
