---
import BaseLayout from "../layouts/BaseLayout.astro";
import DestinationContainer from "../components/DestinationContainer.astro"
import TabDesktop from "../components/TabDesktop.tsx"

//Récupération des informations dans les fichiers md: 
const allPosts = await Astro.glob('./posts/destination/*.md'); 

---
<BaseLayout>
	
	{
	allPosts.map((post) =>
	<div class="flex items-center lg:justify-around flex-col lg:mx-36 ">
	<DestinationContainer
		planet={post.frontmatter.planet}
		text={post.frontmatter.description}
		destText={post.frontmatter.distanceText}
		destNum={post.frontmatter.distanceNum}
		timeText={post.frontmatter.timeText}
		timeNum={post.frontmatter.timeNum}
		/>
	</div>
	)
	}
	
</BaseLayout>
