---
import BaseLayout from "../layouts/BaseLayout.astro";
import DestinationContainer from "../components/DestinationContainer.astro"
import TabDesktop from "../components/TabDesktop.tsx"

//Récupération des informations dans les fichiers md: 
const allPosts = await Astro.glob('./posts/destination/*.md'); 

const planetData = allPosts.map((post) => post.frontmatter);

// Importer React
import { useState } from "react";
---
<BaseLayout>
	<div>
		<TabDesktop
			onViewSelect={(selectedPlanet) =>{}} 
      		css="m-5"
		/>
	</div>
	{
	allPosts.map((post) =>
	<div class="flex">
	<DestinationContainer
		planet={post.frontmatter.planet}
		text={post.frontmatter.description}
		destText={post.frontmatter.distanceText}
		destNum={post.frontmatter.distanceNum}
		timeText={post.frontmatter.timeText}
		timeNum={post.frontmatter.timeNum}
		/>
	</div>
	)
	}
	
</BaseLayout>
