---
import TabDestination from './TabDesktop.tsx'

const {planet, text, destText, destNum, timeText, timeNum} = Astro.props; 
---
<section>
    <img src=`../../public/images/destination/image-${planet}.webp` alt=`Picture of the planet ${planet}`>
</section>
<section>
    <div class="flex flex-row">
        <TabDestination onViewSelect={planet} css='m-5 font-Barlow uppercase text-base' />
    </div>
    <div class="mx-5">
        <h2 class="font-Bellefair uppercase text-6xl lg:text-9xl text-center lg:text-left">{planet}</h2>
        <p class="text-Barlow text-lg text-center">{text}</p>
    </div>
    <div class="flex flex-row">
        <div>
            <p class="text-Barlow">{destText}</p>
            <p class="text-Bellefair">{destNum}</p>
        </div>
        <div>
            <p class="text-Barlow">{timeText}</p>
            <p class="text-Bellefair">{timeNum}</p>
        </div>
    </div>
</section>